<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="navigation">
        {% block navigation %}
            <hr/>
            {{ render(controller("BlogBundle:Default:navigation")) }}
            <hr/>
        {% endblock %}
    </div>
    <div id="body">
        {% block body %}
        {% endblock %}
    </div>
    <hr/>
    <div id="pied_de_page">
        <p>&copy; DF.</p>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
