{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Thème</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
                <tr>
                    <td>{{ theme.nom }}</td><td>
                        <a class="btn btn-primary" href="{{ path('profil_aime',{'id' : theme.id}) }}">Aimer ce thème</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('profil_specialite',{'id' : theme.id})   }}">Choisir comme spécialité</a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>Mes thèmes suivis</th>
        </tr>
        </thead>
        <tbody>
            {% for theme in app.user.getTheme() %}
                <tr>
                    <td>{{ theme.getAime().nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_CRITIQUE") %}
        <table class="table">
            <thead>
                <tr>
                    <th>Mes spécialités</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    {% endif %}
{% endblock %}