{% extends 'base.html.twig' %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th>Thème</th>
                <th>Aimé</th>
                {% if is_granted("ROLE_CRITIQUE") %}
                    <th>Spécialité</th>
                 {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
                <tr><td>{{ theme.nom }}</td><td>{% if app.user.theme.getAime().contains(theme) %} Oui {% else  %} Non {% endif %}</td><td>app.user.</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}