{% extends 'base.html.twig' %}

{% block body %}
    <p>
        <a href="{{ path('theme_new') }}">Nouveau Theme</a>
    <p>
    <h1>Themes list</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actif</th>
                <th>Articles</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            {% for theme in themes %}
                <tr>
                    <td>{{ theme.nom }}</td>
                    <td>{% if theme.active %}Oui{% else %}Non{% endif %}</td>
                    <td>
                        <ul>
                            {% for article in theme.articles %}
                                <li>
                                    {{ article.titre }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
{% if theme.articles is empty %}
                            <a href="{{ path('theme_delete_link',{ 'id': theme.id }) }}">Supprimmer</a> 
                        {%endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
