<html>
<head>
    <title>{% block titre %} ExpertTIZ{%  endblock %}</title>

</head>
<body>
    <div id="navigation">
        {% block navigation %}
            <hr/>
            {{ render(controller("BlogBundle:Default:navigation")) }}
            <hr/>
        {% endblock %}
    </div>
    <div id="contenu">
        {% block contenu %}
        {% endblock %}
    </div>
    <hr/>
    <div id="pied_de_page">
        <p>&copy; DF.</p>
    </div>


</body>
</html>