BlogBundle\Entity\User:
    type: entity
    table: null
    repositoryClass: BlogBundle\Repository\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        login:
            type: string
            length: 255
            unique: true
        mdp:
            type: string
            length: 255
        active:
            type: boolean
    oneToMany:
        comSignale:
            targetEntity: SignalementCom
            mappedBy: signalePar
        articleSignale:
            targetEntity: SignalementArticle
            mappedBy: signalePar
        theme:
            targetEntity: Theme
            mappedBy: aimePar
        article:
            targetEntity: Article
            mappedBy: ecritPar
        com:
            targetEntity: Comentaire
            mappedBy: commentePar
    manyToOne:
        role:
            targetEntity: Role
            
    
